.card__subtitle {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.37;
    color: #1A1B22;
    margin: 16px auto 0 auto;
}