.github__title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.15;
    color: #1A1B22;
    margin: 0;
    width: 70%;
}

@media screen and (max-width: 1024px) {
    .github__title {
        font-size: 1.875rem;
        line-height: 1.13;
    }
}

@media screen and (max-width: 425px) {
    .github__title {
        width: 100%;
        line-height: 1.33;
    }
}