@import url('./__main-container/tech__main-container.css');
@import url('./__wrapper/tech__wrapper.css');
@import url('./__container/tech__container.css');
@import url('./__title/tech__title.css');
@import url('./__subtitle/tech__subtitle.css');

.tech {
    max-width: 100%;
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .tech {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}