.results__link-analytics {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.33;
    color: #1A1B22;
    margin: 0;
    text-decoration: none;
}


@media screen and (max-width: 650px) {
    .results__link-analytics {
        margin-top: 16px;
    }
}