.search__title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    max-width: 608px;
    font-size: 3.75rem;
    line-height: 1.07;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .search__title {
        max-width: 385px;
        font-size: 2.25rem;
        line-height: 1.11;
    }
}