.analytics__stat-container {
    display: grid;
    grid-template-columns: 10% 85%;
    column-gap: 5%;
}

@media screen and (max-width: 768px) {
    .analytics__stat-container {
        grid-template-columns: 15% 80%;
    }
}

@media screen and (max-width: 425px) {
    .analytics__stat-container {
        grid-template-columns: 20% 75%;
    }
}