.tech__main-container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
}

@media screen and (max-width: 950px) {
    .tech__main-container {
       display: flex;
       flex-direction: column;
    }
}