.github__container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .github__container {
        flex-direction: column;
    }
}